.add-board-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: em(8px, 16px);
    padding: em(32px, 16px);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 50px -15px;
}