.board-header {
  background-color: $light-mainpage-header-bcg;
  height: 48px;

  button {
    background-color: transparent;
    border: none;
    color: $light-mainpage-header-btns-clr;
    font-size: rem(16px);
    margin-right: rem(20px);
  }

  img {
    width: rem(50px);
    align-self: center;
    padding-top: 2px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }


  .logo-home-nav {
    font-size: rem(18px);
    font-weight: 600;
    color: black;
    // letter-spacing: -1px;
    font-family: Poppins;
    margin-right: 4px;
  }

  .logo-home-nav2 {
    font-size: rem(16px);
    font-weight: 600;
    color: black;
    letter-spacing: -1px;
    font-family: Poppins;
    font-weight: 300;
  }

  .right-logo-container {
    display: inline-flex;
    align-items: center;
    position: relative;

    .right-logo {
      padding-left: 10px;
    }
  }

  .right-logo-container::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: gray;
    margin-right: 8px;
  }





}