.board-index {
    display: flex;
    flex-direction: column;
    // align-content: center;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    vertical-align: baseline;
    line-height: 1.5;
    color: rgb(50, 51, 56);
    width: 100%;


    .second-header {
        justify-content: space-between;
        align-items: center;
        height: 63px;
        box-shadow: 0px 3px 12px rgb(230, 233, 239);

        @media (width > 1500px) {
            padding: 0 80px;
        }

        .header-container {
            display: flex;
            align-content: center;

            gap: 12px;
            padding-left: 14px;



            height: 100%;
            // flex-grow: 1;

            .titles-container {
                display: inline-flex;
                justify-content: center;
                text-wrap: wrap;
                padding-right: 10px;
                line-height: 22px;
                letter-spacing: 0;


                .welcome-message {
                    padding-top: 20px;
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .header-title {
                padding-bottom: 16px;
                font-weight: 500;
            }
        }

        .header-img {
            img {
                object-fit: cover;
            }

            overflow: hidden;
        }

        .buttons-container {
            display: flex;

            .buttons {
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }


    }
}

.boards-body {
    font-size: 15px;
    width: 100%;

    @media (width > 1500px) {
        padding: 0 80px;
    }

    .main-panel-container {
        margin: 16px;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0px 3px 12px rgb(230, 233, 239);
        width: calc(100% - 300px - 24px);

        .category-container {
            display: flex;
            flex-direction: row;
        }

        .category-content {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 20px;
            padding: 16px 16px 24px 16px;
            width: 100%;

            &> :hover {

                background-color: transparent;
                box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
                border-color: transparent;
            }
        }

        .category-header {
            display: flex;

            .arrow {
                button {
                    all: unset;
                }

                cursor: pointer;
            }
        }
    }

}

.star-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}