.board-header {
  background-color: $light-mainpage-header-bcg;
  height: 48px;

  button {
    background-color: transparent;
    border: none;
    color: $light-mainpage-header-btns-clr;
    font-size: rem(16px);
    margin-right: rem(20px);
  }

  img {
    width: rem(50px);
    align-self: center;
    padding-top: 2px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-home-nav {
    font-size: rem(18px);
    font-weight: 600;
    color: black;
    font-family: Poppins;
    margin-right: 4px;
  }

  .logo-home-nav2 {
    font-size: rem(18px);
    font-weight: 300;
    color: black;
    letter-spacing: -1px;
    font-family: Poppins;
  }

  .right-side-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .right-logo-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;

    .right-logo {
      padding-left: 10px;
    }
  }

  .right-logo-container::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 100%;
    width: 1px;
    height: 25px;
    background-color: gray;
    margin-right: 8px;
  }

  .user-img {
    min-width: 32px;
    max-width: 32px;
    max-height: 32px;
    min-height: 32px;
    border-radius: 50%;
    object-fit: cover;
    background-color: pink;
    padding: 0;
  }

  .user-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110%;
    z-index: 9;
    background-color: white;
    right: 20%;
    width: max-content;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: em(4px, 16px);
    padding: 10px;
    z-index: 12;

    > * {
      font-family: Figtree;
      font-weight: 200;
      font-size: rem(14px);
      color: #323338;
      margin: 0;
      min-width: 204px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 10px;
      gap: 8px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: $light-board-details-clr1, $alpha: 0.1);
      }
    }
  }

  @media screen and (max-width: 632px) {
    .logo-home-nav2 {
      margin-top: 2px;
        font-size: 0.92rem;
    }
    }
  

  @media screen and (max-width: 932px) {
  }

  @media screen and (max-width: 1232px) {
  }

  @media screen and (max-width: 1532px) {
  }
}
