.board-header{
    background-color: $light-mainpage-header-bcg;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 48px;
    button{
        background-color: transparent;
        border: none;
        color: $light-mainpage-header-btns-clr;
        font-size: rem(16px);
        margin-right: rem(16px);
    }
    img{
        margin-left: 40px;
        width: rem(50px);
      }
      .logo-home-nav{
        font-size: em(35px);
        font-weight: 600;
        color: #7d73fc;
        letter-spacing: -3px;
      }
}