.board-index {
    background-color: white;
    border-radius: 8px;
    font-size: 10px;
    font-family: Poppins;
    vertical-align: baseline;
    line-height: 1.5;

    header {
        .header-container {
            display: flex;
            align-items: center;
            gap: 12px;
            padding-left: 20px;
            padding-right: 20px;
            height: 80%;

            .header-img {
                height: 50px;
            }

            .buttons-container {
                display: flex;
            }
        }
    }
}