.group-preview {
  display: grid;
  grid-template-columns: 36px 355px min-content 1fr;
  width: 100%;
  height: 100%;

  header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    position: relative;
    font-family: Figtree;
    height: 100%;
    position: sticky;
    top: 166px;
    left: 40px;
    bottom: -100px;
    background-color: #fff;
    z-index: 5;

    &::after {
      content: '';
      position: absolute;
      right: 100%;
      bottom: 36px;
      width: 40px;
      height: 41px;
      z-index: 3;
      background-color: white;
    }
  }


  .group-name {
    height: em(41px);
    position: sticky;
    left: 40px;

    h2 {
      font-size: rem(18px);
    }

    // grid-column: 1/-1;
    // grid-row: 1;
    display: flex;
    align-items: center;
    width: 100%;
    text-wrap: nowrap;


    .dots-button {
      position: sticky;
      width: 30px;
      height: 30px;
      // left: -35px;
      // top: 5px;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease;
      border-radius: 5px;
      z-index: 8;
      display: none;
    }

    &:hover {
      .dots-button {
        opacity: 1;
        background-color: #f0f0f0;
        z-index: 1000;
      }
    }

    p {
      font-size: rem(12px);
      margin-left: em(14px, 12px);
      margin-right: em(12px, 12px);
    }

    .group-title {
      font-family: Poppins;
      border: none;
      font-size: rem(18px);
      font-weight: 500;
      width: max-content;
      max-width: 500px;
      padding: 0 em(5px, 18px);


      cursor: text;

      &:hover {
        border: 1px solid;
        border-radius: 4px;
      }
    }

    .tasks-count {
      opacity: 0;
      font-family: Figtree;
      font-size: rem(14px);
      color: rgb(103, 104, 121);
      margin-left: 10px;

      transition: .3s;
    }

    &:hover {
      .tasks-count {
        opacity: 1;
      }

      .delete-group-btn {
        opacity: 1;
        width: 20px;
      }

    }

    .option-group-modal-overlay {
      position: sticky;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      z-index: 1000;
      pointer-events: auto;
      top: 0;



      .option-group-modal-content {
        position: absolute;
        top: -5px;
        left: 25px;

        background: white;
        border: 1px solid #d3d4dd;
        z-index: 1001;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        width: 238px;
        height: fit-content;

        button {
          width: 100%;
          font-family: Figtree;
          background: none;
          border: none;
          border-radius: 4px;
          padding: 4px 8px;
          font-size: 14px;
          text-align: start;
          cursor: pointer;
          line-height: 24px;
          color: #323338;
          font-weight: 400;
          letter-spacing: 0px;
          text-decoration: none;
          display: flex;
          align-items: center;

          img {
            padding-right: 9px;
            opacity: 0.6;
          }

          &:hover {
            background-color: #f0f0f0;
          }
        }


      }
    }

  }



  .group-header {
    font-size: rem(14px);
    color: #323338;
    grid-column: 1/-1;
    // grid-row: 2;
    display: grid;
    grid-template-columns: subgrid;
    background: white;
    position: relative;
    border-bottom: 1px solid #d3d4dd;
    border-top: 1px solid #d3d4dd;
    height: 36px;

    &.collapsed {

      font-size: 16px;
      border-bottom: 0;
      height: 22px;

      h4 {
        font-family: Poppins;
      }
    }

    .col-group-title {
      grid-column: 1 / 3;
      border: 1px solid #d3d4dd;
      border-top: none;
      height: 59px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: -1px;
        width: 5px;
        border-top-left-radius: 4px;
        z-index: 3;
        background-color: var(--before-color);
        height: 60px;
        border-bottom-left-radius: 5px;
      }

      p {
        margin: 0;
        margin-left: 10px;
        margin-top: 10px;
        width: 23px;
        font-size: 14px;
      }

      h4 {
        margin-top: 5px;
        font-weight: 600;
        font-size: 18px;
      }

      .tasks-count {
        font-family: figtree;
        grid-column: 2;
        font-size: 14px;
      }
    }


    .check-label {
      width: 100%;
      height: calc(100% - 2px);
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      left: 40px;
      z-index: 1;
      background: white;

      input[type="checkbox"] {
        min-width: 16px;
        height: 16px;
        cursor: pointer;
      }

      &::after {
        content: '';
        position: absolute;
        right: 100%;
        top: -1px;
        width: 40px;
        height: 36px;
        z-index: 2;
        background-color: white;
      }

      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: -1px;
        width: 5px;
        height: calc(100% + 2px);
        border-top-left-radius: 4px;
        z-index: 3;
        background-color: var(--before-color);
      }
    }

    .task-title {
      font-family: 'Figtree';

      background: white;
      border-right: 1px solid #d3d4dd;
      border-left: 1px solid #d3d4dd;
      width: 100%;
      height: calc(100% - 2px);
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      left: 76px;
      z-index: 1;

    }

    .labels {
      display: grid;
      grid-template-columns: repeat(var(--labels), 220px);
      height: 36px;
      font-family: 'Figtree';



      .label {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #d3d4dd;
        font-family: 'Figtree';

        &.collapsed {
          height: 58%;
          font-size: 14px;
        }

        .dots-container {
          position: absolute;
          top: 50%;
          translate: 0 -50%;
          right: 6px;
          z-index: 100;
          width: 24px;
          height: 24px;
        }

        .dots {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          translate: 0 -50%;
          right: 6px;
          width: 24px;
          height: 24px;
          visibility: hidden;
          border-radius: 4px;
          border: none;
          padding: 0;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            background-color: rgba($color: #676879, $alpha: 0.1);
          }

        }

        svg {
          color: #676879;
          width: 20px;
        }

        &:hover {
          background-color: rgba($color: #676879, $alpha: 0.1);

          .dots {
            visibility: unset;
          }
        }


        &:has(.dots.opened-modal) {
          background-color: rgba($color: #676879, $alpha: 0.1);

          .dots {
            &.opened-modal {
              visibility: unset;
              background-color: #cce5ff;

            }
          }
        }

        &.drag {
          .add-label-container {
            display: none;
          }
        }
      }

    }

    .add-label-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      z-index: 6;
    }

    .add-label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: em(10px, 16px);
      height: em(22px, 16px);
      width: em(22px, 16px);
      border: none;
      border-radius: em(4px, 16px);
      padding: 0;


      cursor: pointer;

      &:hover {
        background-color: rgba($color: #676879, $alpha: 0.1);
      }

      svg {
        color: #323338;
        height: em(18px, 16px);
        width: em(18px, 16px);

        transition: .3s;

        &.opened-modal {
          color: $light-sidebar-clr9;
          rotate: 45deg;
        }
      }
    }
  }

  .group-footer {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    width: 100%;
    position: relative;


    .add-task {

      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      height: 36px;
      border-bottom: 1px solid #d3d4dd;


      .check-label {
        position: sticky;
        left: 40px;
        width: 100%;
        height: calc(100% - 2px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background: white;

        input[type="checkbox"] {
          min-width: 16px;
          height: 16px;
          cursor: pointer;
        }

        &::after {
          content: '';
          position: absolute;
          right: 100%;
          bottom: -2px;
          width: 40px;
          height: 35px;
          z-index: 2;
          background-color: white;
        }

        &::before {
          content: '';
          position: absolute;
          right: 100%;
          bottom: -2px;
          width: 5px;
          height: calc(100% + 2px);
          border-bottom-left-radius: 4px;
          z-index: 3;
          background-color: var(--before-color);
          opacity: 0.6;
        }
      }



      form {
        position: sticky;
        left: 76px;
        z-index: 2;
        width: calc(100% - 20px);
        border-left: 1px solid #d3d4dd;

      }

      .add-task-input {

        color: #323338;
        align-items: center;
        height: 24px;
        margin: 6px 10px;
        padding: 3px 0;
        padding-left: 16px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid transparent;
        outline: none;


        &:hover {
          border: 1px solid blue;
        }

        &:focus {
          border: 1px solid blue;
        }

      }
    }


    .stats-labels {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      width: 100%;
      height: 36px;
      z-index: 2;

      &.collapsed {
        border-bottom: 1px solid #d3d4dd;
        height: 38px;
      }


      .empty {
        grid-column: 1;
        position: sticky;
        left: 40px;
        background-color: white;
        height: 100%;

        z-index: 3;

        &.collapsed {
          border-bottom: 1px solid #d3d4dd;
          border-left: 1px solid #d3d4dd;
          display: none;

          &::after {
            content: '';
            position: absolute;
            right: 102%;
            top: 5px;
            width: 40px;
            height: 40px;
            z-index: 2;
            background-color: white;
          }
        }


        &::after {
          content: '';
          position: absolute;
          right: 100%;
          top: 5px;
          width: 40px;
          height: 40px;
          z-index: 2;
          background-color: white;
        }
      }

      .empty2 {
        grid-column: 2;
        position: relative;
        position: sticky;
        left: 76px;
        background-color: white;
        z-index: 3;
        height: 100%;

        &.collapsed {
          display: none;
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          right: -19px;
          width: 20px;

          height: 36px;
          border-left: 1px solid #d3d4dd;
          border-bottom: 1px solid #d3d4dd;
          border-bottom-left-radius: 4px;

        }

      }

      .content {

        display: grid;
        grid-template-columns: repeat(var(--labels), 220px);
        grid-auto-columns: 200px;
        position: relative;
        grid-column: 3 /-1;
        border: 1px solid #d3d4dd;
        border-top: none;
        border-right: none;
        border-left: none;
        height: 100%;
        width: 100%;

        &.collapsed {

          width: 0;
        }

        >* {
          display: flex;
          justify-content: center;
          padding: 6px;
          border-right: 1px solid #d3d4dd;
        }

        .status-stats {
          display: flex;
          width: 100%;
          height: 100%;

          >* {
            width: 100%;
            height: 100%;
            transition: .3s;

            &:hover {
              scale: 1.1 1.1;
            }
          }
        }

        .priority-stats {
          display: flex;
          width: 100%;
          height: 100%;
          margin-right: 1px;

          >* {
            width: 100%;
            height: 100%;
            transition: .3s;

            &:hover {
              scale: 1.1 1.1;
            }
          }
        }

        .date-stats {


          .date-progress-bar {
            position: relative;
            width: 90%;
            background-color: #323232;
            border-radius: 25px;
            height: 100%;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
          }

          .date-fill {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #579bfc;
            border-radius: 25px;
            transition: width 0.3s ease;
            height: '100%',

          }

          .date-range {
            color: white;
            font-family: Figtree;
            position: relative;

            z-index: 1;
            font-size: 12px;
          }


        }
      }
    }

    .empty-bottom {
      height: 40px;
    }

  }

  @media (width > 932px) {
    grid-template-columns: 36px 355px min-content 1fr;

    .labels {
      display: grid;
      grid-template-columns: repeat(var(--labels), 220px);
      height: 36px;
    }


    .content {

      display: grid;
      grid-template-columns: repeat(var(--labels), 220px);
      grid-auto-columns: 200px;
      position: relative;
      grid-column: 3 /-1;
      border: 1px solid #d3d4dd;
      border-top: none;
      border-right: none;
      border-left: none;
      height: 100%;
      width: 100%;
    }


  }

}