.group-preview{
    margin-bottom: 50px;
    
      
    h2{
        font-size: rem(18px);
    }
    header{
        height: rem(41px);
        padding-bottom: 5px;
        p{
            font-size: rem(12px);
            margin-left: rem(14px);
            margin-right: rem(12px);
        }
        input{
            border: none;
            font-size: 18px;
            font-weight: 500;
            font-family: Poppins;
        }
    }
    main{
        .side-group-color{
            width: 5px;
            border-top-left-radius: 15px ;
            border-bottom-left-radius: 15px;
        }
    }
    
}