.label-modal {
    position: absolute;
    z-index: 10000;
    top: 100%;
    right: 100%;
    background-color: white;
    padding: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .32);


    border-radius: 8px;

    .add-label-modal {
        width: 100%;
    }

    .label-type {
        width: 100%;
        padding: 4px 8px;
        line-height: 24px;
        font-size: Figtree;
        cursor: pointer;
    }
}