.mobile-nav {
    display: flex;
    width: 100%;
    justify-content: end;
    position: absolute;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    z-index: 500;

    bottom: 0;

    svg {
        color: white;
        outline: none;
    }



    .more {
        position: relative;
        z-index: 3;
        background-color: #323338;
        width: 60px;
        height: 60px;
        border-radius: 35%;
        border: 1px solid #d0d4e4;
        rotate: 0deg;
        transition: 0.5s;

        &.open {
            rotate: 45deg;

            .l1 {
                top: 30px;
            }

            .l2 {
                top: 30px;
            }

            .l3 {
                rotate: 90deg;
                top: 30px;
            }
        }

        div {
            width: 15px;
            height: 1px;
            background-color: white;
            position: absolute;
            left: 50%;
            translate: -50% 0;
        }

        .l1 {
            top: 25px;
        }

        .l2 {
            top: 30px;
        }

        .l3 {
            top: 35px;
        }
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        position: absolute;
        // bottom: 100%;
        z-index: 2;
        bottom: 0px;
        right: 27px;
        background-color: #323338;
        border-radius: 50%;
        border: 1px solid #d0d4e4;

        &.open {
            animation: button1open 0.5s forwards;
        }

        &.close {
            animation: button1close 0.5s forwards;
        }

    }

    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        // bottom: 150%;
        bottom: 0px;

        right: 27px;
        background-color: #0073ea;
        border: 1px solid #d0d4e4;

        &.open {
            animation: button2open 0.5s forwards;
        }

        &.close {
            animation: button2close 0.5s forwards;
        }

    }



    //medium
    @media (width > 932px) {
        display: none;
    }

}

@keyframes button1open {
    0% {
        bottom: 0px;
    }

    75% {
        bottom: 140%;
        scale: 1;
    }

    87% {
        bottom: 140%;
        scale: 1.2;
    }

    100% {
        bottom: 140%;
        scale: 1;
    }
}

@keyframes button2open {
    0% {
        bottom: 0px;
    }

    75% {
        bottom: 240%;
        scale: 1;
    }

    87% {
        bottom: 240%;
        scale: 1.2;
    }

    100% {
        bottom: 240%;
        scale: 1;
    }
}

@keyframes button1close {
    0% {
        bottom: 140%;
    }

    75% {
        bottom: 0px;
    }

    87% {
        bottom: 0px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes button2close {
    0% {
        bottom: 240%;
    }

    75% {
        bottom: 0px;
    }

    87% {
        bottom: 0px;
    }

    100% {
        bottom: 0px;
    }
}