.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;

    height: 100%;
    background: linear-gradient(135deg, #ffffff 5%, $light-sidebar-clr1 100%);
    border-radius: 0 em(8px, 16px) 0 0;

    transition: .3s;

    &.resize {
        border-right: 3px solid $light-sidebar-clr9;
        transition: none;

    }

    >*:not(.divider) {
        padding-left: em(12px, 16px);
    }

    >* {
        font-family: 'Figtree';
    }

    position: relative;

    .navigation {
        margin-top: em(4px, 16px);
        width: 100%;
        margin-bottom: em(4px, 16px);

        display: flex;
        flex-direction: column;
        gap: em(2px, 16px);

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: em(32px, 16px);
            padding-right: em(12px, 16px);

            a {
                cursor: pointer;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: em(7px, 14px);

                width: 100%;
                height: 100%;
                border: 1px solid transparent;
                border-radius: em(4px, 14px);

                padding-right: em(4px, 14px);
                padding-left: em(5px, 14px);

                font-size: rem(14px);
                transition: .1s;

                &:hover {
                    background-color: $light-sidebar-clr2;
                }

                &.active {
                    text-decoration: none;
                    background-color: $light-sidebar-clr4;
                }
            }
        }
    }

    .left-arrow {
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 0;

        button {
            padding: em(12px, 15px) em(8px, 15px);

            text-align: start;

            width: 100%;
            display: flex;
            justify-content: center;

            font-size: rem(15px);
            line-height: lh(22.5px, 15px);

            border: none;
            border-radius: 0 em(8px, 15px);

            background-color: $light-sidebar-clr3;
            cursor: pointer;

            svg {
                outline: none;
                border: none;
            }

            &:hover {
                background-color: $light-sidebar-clr2;
            }
        }
    }

    .divider {
        background-color: $light-sidebar-clr5;
        height: 1px;
        width: 100%;
        margin: 8px 0
    }

    .favorites-container {
        width: 100%;
        height: em(32px, 16px);

        padding-right: em(16px, 16px);
        margin-top: em(4px, 16px);
        margin-bottom: em(4px, 16px);
        transition: height .3s;


        .star {
            stroke: black;
            stroke-width: 1px;
            fill: none;
        }

        .content {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: em(7px, 14px);

            margin-bottom: em(4px, 16px);

            width: 100%;
            height: 32px;
            border: 1px solid transparent;
            border-radius: em(4px, 14px);

            font-size: rem(14px);
            line-height: lh(20px, 14px);

            padding-right: em(4px, 14px);
            padding-left: em(5px, 14px);
            cursor: pointer;

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: em(4px, 14px);

                width: em(18px, 14px);
                height: em(18px, 14px);
            }

            &:hover {
                background-color: $light-sidebar-clr2;
            }

            .tools {
                display: flex;
                align-items: center;
                margin-left: auto;

                gap: em(6px, 16px);

            }
        }

        .dots {
            height: em(24px, 16px);
            width: em(24px, 16px);

            margin-left: auto;
            visibility: hidden;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: em(4px, 16px);

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                border: none;

                svg {
                    height: em(16px, 16px);
                    width: em(16px, 16px);
                    font-size: rem(16px);
                }

                cursor: pointer;
            }

            &:hover {
                background-color: $light-sidebar-clr2;
            }
        }

        .favorite-boards {
            height: 0;
            transition: height .3s;
            display: flex;
            flex-direction: column;
            gap: em(2px, 16px);
            width: 100%;

            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .board {
                opacity: 0;
                height: 0;

                display: flex;
                justify-content: start;
                align-items: center;
                gap: em(7px, 14px);

                width: 100%;
                border: 1px solid transparent;
                border-radius: em(4px, 14px);

                padding-right: em(4px, 14px);
                padding-left: em(5px, 14px);

                font-size: rem(14px);
                transition: height .3s;

                cursor: pointer;

                p {
                    min-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    font-size: rem(14px);
                }

                svg {
                    color: $light-sidebar-clr7;
                }


                &:hover {
                    background-color: $light-sidebar-clr2;
                }

                &.active {
                    text-decoration: none;
                    background-color: $light-sidebar-clr4;
                }
            }
        }

        &.active {
            height: calc(100% - 32px - 16px);
            width: 100%;

            .favorite-boards {
                height: 100%;

                .board {
                    opacity: 1;
                    height: 32px;
                }
            }

            .arrow {
                rotate: 180deg;
            }

            .dots {
                visibility: unset;
            }

            svg {
                stroke: none;
                fill: #FFCB00;
            }
        }
    }

    &.close {
        >*:not(.navigation) {
            visibility: hidden;
        }

        a {
            visibility: hidden;
        }

        .left-arrow {
            visibility: unset;
            rotate: 180deg;
        }


    }

    &:hover {
        .navigation {
            display: flex;
        }

        .nav:nth-child(1) {
            a {
                width: calc(100% - em(30px, 16px));
            }
        }

        .left-arrow {
            visibility: unset;
        }
    }

    .workspaces-display {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: em(32px, 16px);
        padding-right: em(32px, 16px);
        margin: em(11px, 16px) 0;
        overflow: hidden;

        border-radius: em(4px, 16px);
        width: 100%;


        .workspace-name {
            display: flex;
            justify-content: space-between;

            align-items: center;
            width: 100%;
            height: em(32px, 16px);
            // padding-right: em(16px, 16px);
            margin: em(11px, 16px) 0;

            border-radius: em(4px, 16px);
            width: 100%;
            height: 100%;

            cursor: pointer;

            .on-hover {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: em(32px, 16px);
                // padding-right: em(16px, 16px);
                margin: em(11px, 16px) 0;

                border-radius: em(4px, 16px);
                width: 100%;
                height: 100%;

                &:hover {
                    background-color: $light-sidebar-clr2;
                }

            }


            .letter {
                margin-left: em(6px, 15px);
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;


                font-size: rem(14px);
                border-radius: em(4px, 14px);
                font-weight: 600;

                height: em(20px, 14px);
                min-width: em(20px, 14px);
                background-color: rgb(187, 51, 84);
            }

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                width: 100%;

                font-size: rem(16px);
                font-weight: 600;

                margin-left: em(1px, 16px);
                padding-left: em(5px, 16px);

            }

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;

                margin-left: em(6px, 16px);
                margin-right: em(6px, 16px);
            }
        }

        .dots {
            // margin-left: em(10px, 16px);
            // margin-right: em(16px, 16px);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            button {
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: rem(16px);

                border: none;
                background-color: transparent;
                border-radius: em(4px, 16px);

                height: 32px;
                width: 32px;

                &:hover {
                    background-color: $light-sidebar-clr2;
                }
            }
        }

        &.hidden {
            .arrow {
                rotate: 180deg;
            }

            .dots {
                display: none;
            }
        }
    }

    .search-workspace {
        display: flex;
        align-items: center;
        width: 100%;
        height: em(32px, 16px);
        padding-right: em(16px, 16px);
        padding-left: em(14px, 16px);
        margin: em(11px, 16px) 0;

        .search-bar {
            display: flex;
            align-items: center;
            min-height: em(32px, 16px);
            height: em(32px, 16px);
            width: 100%;
            padding: em(6px, 16px) em(4px, 16px) em(4px, 16px) em(4px, 16px);

            border: 1px solid $light-sidebar-clr6;
            border-radius: em(4px, 16px);



            svg:nth-child(1) {
                min-width: em(16px, 14px);
                height: em(16px, 14px);
                font-size: rem(14px);
                margin: em(4px, 14px);

                color: $light-sidebar-clr7;
            }

            .clear {
                min-width: em(24px, 16px);
                height: em(24px, 16px);
                font-size: rem(16px);

                padding: em(4px, 16px);
                border-radius: em(4px, 16px);
                margin-left: em(8px, 16px);


                outline: none;
                border: none;

                color: $light-sidebar-clr8;
                cursor: pointer;

                &:hover {
                    background-color: $light-sidebar-clr2;
                }
            }

            .filter {
                min-width: em(24px, 16px);
                height: em(24px, 16px);
                font-size: rem(16px);

                padding: em(4px, 16px);
                display: none;
                border-radius: em(4px, 16px);
                margin-left: em(8px, 16px);

                color: $light-sidebar-clr8;
                cursor: pointer;

                &:hover {
                    background-color: $light-sidebar-clr2;
                }
            }

            input {
                outline: none;
                width: 100%;
                height: 100%;
                font-size: rem(14px);
                border: none;
                font-family: 'Figtree';

                background-color: transparent;

                color: $light-sidebar-clr7;

                cursor: pointer;

                &:focus+.filter {
                    display: inherit;
                }

                &:active+.filter {
                    display: inherit;
                }
            }

            &:hover {
                .filter {
                    display: inherit;
                }

                border-color: black;
            }


        }

        .plus {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(16px);

            cursor: pointer;
            margin-left: em(10px, 16px);
            background-color: transparent;
            border: none;
            min-height: 32px;
            background-color: $light-sidebar-clr9;

            border-radius: em(4px, 16px);

            transition: scale 0.3s;

            svg {
                color: white;
                height: em(20px, 16px);
                width: em(20px, 16px);
            }

            &:hover {
                background-color: $light-sidebar-clr10;
            }

            &:active {
                scale: 0.95;
            }
        }

        &.hidden {
            display: none;
        }
    }

    .boards {
        width: 100%;
        padding-right: em(16px, 16px);
        overflow-x: hidden;
        overflow-y: scroll;


        &::-webkit-scrollbar {
            display: none;
        }

        .dots {
            height: em(24px, 16px);
            width: em(24px, 16px);

            margin-left: auto;
            visibility: hidden;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: em(4px, 16px);
            transition: opacity 0.3s ease-in-out; /* Smooth transition for visibility */

            &.active{
                visibility: visible; 
                background-color: #cbe5fe;
             }

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: transparent;
                border: none;
               
                svg {
                    height: em(16px, 16px);
                    width: em(16px, 16px);
                    font-size: rem(16px);
                }

                cursor: pointer;
            }

            &:hover {
                background-color: $light-sidebar-clr2;
            }
        }

        .board {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: em(7px, 16px);
            width: 100%;
            height: 32px;

            padding-right: em(8px, 14px);
            padding-left: em(8px, 14px);
            border: 1px solid transparent;
            border-radius: em(4px, 14px);

            cursor: pointer;



            &:hover {

                .dots {
                    visibility: unset;
                }

                background-color: $light-sidebar-clr2;
            }

            &.active {
                background-color: $light-sidebar-clr4;
            }

            p {
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                font-size: rem(14px);
            }

            svg {
                color: $light-sidebar-clr7;
            }

        }

        &.hidden {
            display: none;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    pointer-events: auto;
}

.modal-content {
    position: absolute;
 

      background: white;
      border: 1px solid #d3d4dd;
      z-index: 1001;
      padding: 8px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      pointer-events: auto;
      width: 260px;
      button {
        width: 100%;
        font-family: Figtree;
        background: none;
        border: none;
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 14px;
        text-align: start;
        cursor: pointer;
        line-height: 24px;
        color: #323338;
        font-weight: 400;
        letter-spacing: 0px;
        text-decoration: none;
        display: flex;
        align-items: center;
        img,svg{
            margin-right: 9px;
        }
    }
}

.modal-content button:hover {
    background-color: #f0f0f0;
}

.board-wrapper{
    input{
        width: 140px;
        background-color: transparent;
        outline: transparent;
        border: none;
    }
}

