.task-list {
  width: 100%;
  font-family: "Figtree", sans-serif;
  /* Ensure fallback if "Figtree" is unavailable */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  outline: 1px solid #d3d4dd;
  border-left: em(5px, 14px) solid;
  border-radius: em(4px, 14px);
  background-color: white;

  .delete-group-btn {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: -70px;

    transition: .5s;

    background-color: transparent;
    border: none;
  }

  // overflow-x: auto;

  color: #323338;
  transition: 1s;

  &.close {
    height: 0;
  }

  .group-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d4dd;
    border-left: none;
    height: 36px;
    width: 100%;
  }

  .group-body {
    display: flex;
    flex-direction: column;
  }

  .task-row {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d4dd;
    width: 100%;

    .dots-button {
      content: '•••';
      font-size: 18px;
      color: #d3d4dd;
      position: absolute;
      left: -38px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover .dots-button {
      opacity: 1;
    }

    &.drag {
      animation: shake 2s infinite;
      border: 1px dashed #d3d4dd;
    }

    &.add-task {
      border-bottom: none;
    }

    &.checked .delete-group-btn {
      opacity: 1;
      left: -35px;
    }

    &:not(.add-task):hover {
      background-color: #f5f6f8;
      box-shadow: 4px 3px 6px -3px #c3c6d4;

      .text-title-input {
        background-color: #f5f6f8;
      }
    }
  }


  .check-label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    border-right: 1px solid #d3d4dd;
    color: #d3d4dd;

    input[type="checkbox"] {
      min-width: 16px;
      height: 16px;
    }
  }

  .task-title {
    display: flex;
    align-items: center;
    width: 355px;
    height: 100%;
    border-right: 1px solid #d3d4dd;
    overflow: hidden;

    &.header {
      justify-content: center;
      padding-left: 0;
      margin-left: 0;
    }

    &.body {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .task-title-txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid #d3d4dd;
        height: 100%;
        width: 100%;
        overflow: hidden;


        .task-title-input {
          width: 80%;
          color: #323338;
          font-family: Figtree;
          text-overflow: ellipsis;
          overflow: hidden;
          text-wrap: nowrap;
          border: 1px solid transparent;
          padding: 3px 2px;
          cursor: pointer;
          outline: none;
          border-radius: 4px;

          &:hover {
            border: 1px solid #d3d4dd;
            width: 65%;
            color: #323338;
          }

          &:focus {
            border: 1px solid blue;
            width: 80%;
            color: #323338;
          }


        }

        .handle {
          width: 20%;
          height: 100%;
        }



      }

      .task-title-chat {
        height: 100%;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 65px;
      }

      svg {
        color: $light-board-details-filter-clr1;
        height: 22px;
        width: 22px;
      }
    }
  }

  .label {
    position: relative;
    border-radius: 0;
    height: em(36px, 14px);
    border-right: 1px solid #d3d4dd;
    // border-left: 1px solid #d3d4dd;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      transition: 0.5s;
      border-bottom: 0 solid white;
      border-right: 0 solid white;
    }

    &.status {
      min-width: 200px;

      &.table {
        &:hover {

          &::after {

            border-bottom: 8px solid gray;
            border-right: 8px solid white;
          }
        }
      }
    }

    &.members {
      min-width: 200px;
    }

    &.priority {
      min-width: 200px;

      &.table {
        &:hover {

          &::after {
            border-bottom: 8px solid gray;
            border-right: 8px solid white;
          }
        }
      }
    }

    &.header {
      justify-content: center;
    }
  }

  .add-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: em(10px, 16px);
    height: em(22px, 16px);
    width: em(22px, 16px);
    border: none;
    border-radius: em(4px, 16px);

    &:hover {
      background-color: rgba($color: #676879, $alpha: 0.1);
    }

    svg {
      color: #323338;
      height: em(18px, 16px);
      width: em(18px, 16px);
    }
  }

  .add-task {

    .task-title {
      padding-left: 0;
      border: none;
    }

    input {
      color: #323338;
      align-items: center;
      height: 24px;
      margin: 6px 10px;
      padding: 3px 0;
      padding-left: 16px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid transparent;
      outline: none;

      &:hover {
        border: 1px solid blue;
      }

      &:focus {
        border: 1px solid blue;
      }
    }

  }

  @keyframes shake {
    0% {
      rotate: 0;
    }

    10% {
      rotate: 2deg;

    }

    20% {
      rotate: -2deg;
    }

    30% {
      rotate: 2deg;
    }

    40% {
      rotate: -2deg;
    }

    50% {
      rotate: 2deg;
    }

    60% {
      rotate: -2deg;
    }

    70% {
      rotate: 2deg;
    }

    80% {
      rotate: -2deg;
    }

    90% {
      rotate: 2deg;
    }

    100% {
      rotate: 0;

    }
  }

  .option-task-modal-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    pointer-events: auto;
    top: 0;

    .option-task-modal-content {
      position: absolute;
      left: -220px;
      /* Adjust left offset to place modal left of the task */

      background: white;
      padding: 16px;
      border: 1px solid #d3d4dd;
      border-radius: 4px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      z-index: 2000;
    }
  }



  //   td {
  //     border: 1px solid #d3d4dd;
  //     text-align: center;

  //     p {
  //       margin: 0;
  //     }
  //   }

  //   tr {
  //     border: 1px solid #d3d4dd;

  //   }

  //   th {
  //     border: 1px solid #d3d4dd;
  //     height: 33px;
  //     padding: 5px;
  //     text-align: center;
  //     vertical-align: middle;
  //     font-weight: 400;

  //     input {
  //       padding: 0;
  //     }
  //   }

  //   th:first-child {
  //     padding-top: 10px;
  //     width: 33px;
  //   }

  //   th:nth-child(2) {
  //     width: 360px;
  //   }

  //   td:first-child {
  //     padding-top: 12px;
  //     padding-bottom: 1px;
  //     height: 30px;
  //   }

  //   td:nth-child(2) {
  //     text-align: left;
  //   }

  //   input[type='checkbox'] {
  //     width: 16px;
  //     height: 17px;
  //     margin: 0;
  //   }
  // }

  // .task-label {
  //   color: white;
  //   border: none;
  //   padding: 9px;
  //   cursor: pointer;
  // }

  // .task-modal {
  //   background-color: white;
  //   border-radius: 5px;
  //   position: absolute;
  //   transform: translateX(-50%);
  //   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);

  //   ul {
  //     display: flex;
  //     flex-direction: column;
  //     gap: 5px;
  //     margin: 0;
  //     padding: 5px;
  //     width: 150px;
  //   }

  //   &.member-modal ul {
  //     flex-direction: row;
  //     width: fit-content;
  //   }

  //   li {
  //     list-style-type: none;
  //     cursor: pointer;
  //     color: white;
  //     padding: 10px;
  //     text-align: center;
  //   }

  //   /* Style for member-option images within li elements */
  //   li .member-option {
  //     width: 50px;
  //     height: 50px;
  //     border-radius: 50%;
  //     margin-right: 8px;
  //   }
}