.login-page {
    height: 100vw;
    width: 100%;
    font-family: Figtree;


    .login-header {
        height: 65px;
        width: 100%;
        background-color: #f7f7f7;
        border-bottom: 1px solid #e0e0e0;
        padding-top: 10px;
        padding-left: 8px;
    }

    .logo {
        display: flex;
        align-items: center;
        position: relative;
        width: max-content;
        height: 44px;

        img {
            height: 44px;
        }

        .logo-home-nav {
            position: absolute;
            left: 80%;
            font-family: Poppins;
            display: flex;
            align-items: center;
            font-size: rem(28px);
            font-weight: 600;
            color: black;
            letter-spacing: -2px;
        }

        h1 {
            margin: 0;
        }
    }

    .login-body {
        padding: em(40px, 16px);
        margin: em(40px, 16px);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-size: rem(40px);
        font-family: Figtree;
        font-weight: 100;
        margin-bottom: em(36px, 40px);
    }

    form {
        width: 400px;

    }

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "Figtree", sans-serif;

        width: 100%;
        height: 100%;
        font-size: rem(16px);

        font-size: rem(16px);
        line-height: lh(22px, 16px);
        padding: em(8px, 16px) em(16px, 16px);
        border-radius: em(4px, 16px);
    }

    .input-group {
        height: em(40px, 16px);
        margin-bottom: em(16px, 16px);

        input {
            color: $light-signup-clr1 ;
            text-align: start;
            font-weight: 300;

            border: 1px solid $light-signup-clr3;

            &:focus,
            &:active {
                outline: 1px solid #0073ea;
            }

            &:hover {
                outline: 1px solid black;
            }

            &.error {
                outline: 1px solid $light-signup-clr5;
            }

        }
    }

    .login-container {
        height: em(40px, 16px);

        .login-button {
            margin-bottom: 36px;
            transition: scale 0.2s;

            &:active {
                scale: 0.9;
            }


            color: white;
            background: $light-signup-clr6;
            border: none;
            cursor: pointer;
            font-weight: 300;

            &:hover {
                background: $light-signup-clr7;
            }

            &.disable {
                background-color: lightgray;

                &:active {
                    scale: 1;
                }
            }
        }
    }

    .login-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        font-weight: 200;

        margin-bottom: em(64px, 16px);

        span {
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                line-height: lh(20px, 16px);
                color: #1f76c2;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    svg {
        height: 50px;
    }

}