$clr1: #087f81;
$clr2: #ae2012;

$clr1bg: #c3eddf;
$clr1bg-light: #c1f1e1;
$clr2bg: #ee9b00;
$clr2bg-light: #e9d8a6;

$gray1: rgb(240, 240, 240);
$gray2: rgb(155, 155, 155);
$gray3: rgb(44, 44, 44);


//homepage 

$light-menu-bcg : #f0f3ff;
$light-menu-button: #6161ff;
$light-menu-h1 : #333333;
$light-menu-nav : #7f818e;




// signup

$light-signup-clr1 : #323338;
$light-signup-clr2 : #67687910;