//homepage 

$light-menu-bcg : #f0f3ff;
$light-menu-button: #6161ff;
$light-menu-button-hover: #4f4fcc;
$light-menu-h1 : #333333;
$light-menu-nav : #7f818e;


// signup

$light-signup-clr1 : #323338; // text
$light-signup-clr2 : rgba(103, 104, 121, 0.1); // google hover
$light-signup-clr3 : #c3c6d4; // button border
$light-signup-clr4 : #d0d4e4; // or-line
$light-signup-clr5 : #d83a52; // error input
$light-signup-clr6 : #0073ea; // continue button
$light-signup-clr7 : #0060b9; // continue button hover

// sidebar

$light-sidebar-clr1 : #f0f3ff; // bgc
$light-sidebar-clr2: rgba(103, 104, 121, 0.1); // hover nav
$light-sidebar-clr3: #f6f7fb; //  nav-close/open
$light-sidebar-clr4: #cce5ff; //  active nav
$light-sidebar-clr5: #d0d4e4; //  devider


//main-page

$light-mainpage-header-bcg : #eceff8;
$light-mainpage-header-btns-clr : #5b5c63;