* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  // font-family: 'Edu VIC WA NT Beginner', cursive;
}

// p {     //put in comment messed up my home page 
//   margin: 0 0 1em;
// }

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

a.active {
  text-decoration: underline;
}